@charset "utf-8";
@import url("/css/font-awesome.min.css");

.intro-page .survey-view:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 300px;
    background-color: #002145;
    left: calc( 50% - 50vw  );
    top:0;
    z-index: -2;
    background-image: url(cars.png);
    background-repeat: no-repeat;
}

.intro-page .survey-view:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 200px;
    left: calc( 50% - 50vw );
    top:130px;
    z-index: -1;
    background-image: url("registration.png");
    background-size:cover
}

.intro-page h2#climate-action-awareness--transit-survey {
    color: white;
    font-size: 40px;
    line-height: 1.2em;
}

@keyframes myanim {
    50% {
       top: 150px;
    }
 }


 .intro-page .survey-view:after {
    animation: myanim  6s ease-in-out infinite

}

.intro-page h3#about-this-survey {
    margin-top: 280px;
}




body:before {
    background-image: url("https://cdn.ubc.ca/clf/7.0.4/img/ubc7-clf-sprite-blue.png");
    background-repeat: no-repeat;
    content: "";
    width: 70px;
    height: 100px;
    position: absolute;
    display: inline-block;
    top: -14px;
    right: 170px;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 32px 14px;
    margin-left: -15px;
    min-width: 115px;
    z-index: 1;
    scale: 0.8;
}

body:after {
    content: "";
    background-image: url("uitr-white.png");
    width: 300px;
    height: 150px;
    position: absolute;
    display: inline-block;
    top: -35px;
    right: -33px;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    scale: 0.8;
}


body.intro-page:before {
    background-image: url("https://cdn.ubc.ca/clf/7.0.4/img/ubc7-clf-sprite-white.png");
}

body.intro-page:after {
    background-image: url("uitr.png");
}

@media screen and (min-width: 800px){

.intro-page span.markdown:first-child + .markdown, .intro-page span.markdown:first-child + .markdown + .markdown {
    display: inline-block;
    width: calc( 50%  - 20px );
    margin-right: 20px;
}

}

.intro-page form.survey-view nav {
    text-align: center;
}


form.survey-view nav button, form.survey-view .nav button {
    background: #174494;
    color: white;
    transition: box-shadow 0.7s, background 0.7s; 
}

form.survey-view button.section-back, form.survey-view button.page-back{
    float:left;
}

form.survey-view nav button:hover, form.survey-view .nav button:hover {
    
    background: #132f60;
    color: white;
    box-shadow:0 0 5px #00000087; 
    transition: box-shadow 0.3s, background 0.3s; 
}


form.survey-view, pre.survey-data {
    background: transparent;
}


form.survey-view label[for^="priority"]>input {
    min-width: 55px;
}


ul.progress-indicator {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

ul.progress-indicator>li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid #174494;
    margin: 0 5px;
    position: relative;
    opacity: 0.4;
    vertical-align: top;
}

ul.progress-indicator>li:after {
    content: "\0f061";
    font-family: FontAwesome;
    position: absolute;
    right: -16.5px;
    top: 14px;
    color: #1744946b;
    font-size: 13px;
}

ul.progress-indicator>li:last-child:after {
    display:none;
}

ul.progress-indicator>li.active {
    background-color: #587ab7;
    opacity: 1;
}


ul.progress-indicator>li.complete {
    background-color: #9cb5e1;
    opacity: 1;
}

ul.progress-indicator>li.complete:before, ul.progress-indicator>li.active:before  {
    content: "\0f00c";
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    left: 0;
    top: 45px;
    line-height: 50px;
    font-family: 'FontAwesome';
    color: #174494;
}



ul.progress-indicator>li:first-child {
    background-image: url('icons/login.png');
    background-size: 100%;
}


ul.progress-indicator>li:first-child+li {
    background-image: url('icons/house.png');
    background-size: 100%;
}

ul.progress-indicator>li:first-child+li+li {
    background-image: url('icons/cars.png');
    background-size: 100%;
}

ul.progress-indicator>li:first-child+li+li+li {
    background-image: url('icons/family.png');
    background-size: 100%;
}

ul.progress-indicator>li:first-child+li+li+li+li {
    background-image: url('icons/schedule.png');
    background-size: 100%;
}




ul.progress-indicator>li.active:before {
    content: "";
    animation: slidein 2s infinite;
    animation-direction: normal;
    font-size: 35px;
    line-height: 30px;
}

@keyframes slidein {
  0% {
    content: "";
  }
  20% {
    content: ".";
  }
  50% {
    content: "..";
  }
  80% {
    content: "...";
  }
  100% {
    content: "";
  }
}



span.radio>label+label, span.radio>label+label+label {
    display: inline-block;
    width: fit-content;
    margin-left: 20px;
}



form.survey-view, pre.survey-data {
    max-width: 600px;
}

.intro-page  form.survey-view, pre.survey-data {
    max-width: 1000px;
}




form.survey-view>main>div:has(>.focus)>fieldset {
    display:none;
}
form.survey-view>main>div:has(>.focus)>fieldset.focus {
    display:block;
}




form.survey-view>main>div:has(>.focus) nav>button {
    display:none;
}
form.survey-view>main>div:has(>.focus) nav>button.focus-next {
    display:inline-block;
}

form.survey-view>main>div:has(>.focus) nav>button.focus-back {
    display: inline-block;
    float: left;
}

form.survey-view>main>div:has(>.focus)>.focus + nav>button.section-next {
    display: inline-block;
}
form.survey-view>main>div:has(>.focus)>.focus + nav>button.focus-next {
    display: none;
}





form.survey-view>main>div:has(>.first-focus.focus) nav>button.focus-back {
    display: none;
}

form.survey-view>main>div:has(>.first-focus.focus) nav>button.section-back {

    display: inline;
    float: left;
}





.timer{
    text-align:center;
    font-size:100px;
    line-height:100px;
}
.timer ul {
    display: inline-block;
    margin:auto;
  white-space:nowrap;
}

.timer li {
    display: inline-block;
    text-align:center;
    padding:0 10px;
    min-width: 20%;
    box-sizing:border-box;
    color: #164594;

}

.timer label {
    font-size:15px;
    line-height:20px;
    color:black;
}


.timer h3 {
    font-size: 30px;
    text-align: left;
}

.timer h3:last-child {
    text-align: right;
    font-size: 25px;
}

.timer.closed div {
    color: crimson;
}




.list-render .collapse, .list-render .active {
    border: 3px solid #164594;
    border-radius: 5px;
    margin:5px 0;
}

.list-render .collapse fieldset {
    display: none;
}


.list-render .collapse {
    border-color: #00000036;
}

.list-render .active .edit-btn{
    display: none;
}

.list-render .nav.inline-nav {
    text-align: right;
}


form.survey-view  .list-render .nav button.edit-btn {
   
}

form.survey-view .list-render .nav button.remove-btn {
    background: crimson;
    opacity: 0.4;
}

form.survey-view .list-render .nav button.remove-btn:hover {
    opacity: 1;
}

.list-render .collapse{
    --label: attr(data-start-time)" - " attr(data-end-time);
    display: none;
}

.schedule-vis .schedule-item{
    --label: attr(data-start-time)" - " attr(data-end-time);
}

.list-render .collapse:before, .schedule-vis .schedule-item:before {
    content: var(--label, "");
    font-size: 20px;
    display: inline-block;
    float: left;
    line-height: 25px;
    padding: 20px;
}

.schedule-vis .schedule-item:before {
    line-height: 12px;
}



form.survey-view:has(.schedule-vis) {
    padding-left: 290px;
}

.schedule-vis {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 250px;
    border-right: 1px solid #0000001a;
    display: inline-block;
    top: 0;
    background: lightgray;
    box-sizing: border-box;
    box-shadow: 0 0 5px #00000099;
    overflow-y: auto;
    padding-bottom: 50px;
}


.schedule-item {
    background: white;
    min-height: 50px;
    margin: 10px;
    border-radius: 3px;
    border:3px solid white;
    position: relative;
}


.list-render .nav.inline-nav {
    display: none;
}

.list-render>.collapse{
    height: 60px;
    transition: scale .1s;
    cursor: pointer;
}

.list-render>.collapse:hover {

    scale: 1.01;
    transition: scale .05s;
    box-shadow: 0 0 5px #00000021;
}

.list-render>div{
     position:relative;
}

.list-render>div>fieldset {
    padding-top: 0;
    padding-bottom: 0;
    background: transparent;
}

.schedule-item.active {
    border-color: #184494;
}

@media(max-width: 750px) {

    .schedule-vis {
        display: none;
    }

    form.survey-view:has(.schedule-vis) {
        padding:40px;
    }

    .list-render .collapse{
        display: block;
    }

}










select {
    width: 100px;
    text-overflow: ellipsis;
}





.schedule-item {
    transition: scale .1s;
    cursor:pointer;
}

.schedule-item:hover {
    scale: 1.02;
    transition: scale .05s;
    box-shadow: 0 0 5px #00000045;
}






.schedule-item[data-location-type="0"], .list-render>div[data-location-type="0"]{
    background-color:#dcffe1;
}

.schedule-item[data-location-type="1"], .list-render>div[data-location-type="1"] {
    background-color: #ffcfb5;
}

.schedule-item[data-location-type="2"], .list-render>div[data-location-type="2"] {
    background-color: #e8e8e8;
}


.schedule-item[data-location-type="0"][data-in-home-activity="0"], .list-render>div[data-location-type="0"][data-in-home-activity="0"] {
    background-color:#dce8ff;
}


.schedule-item:after, .list-render>div:after  {
    content:"";

    background-size: 110%;
    background-position: center;
    width:50px;
    height:50px;
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
}

.list-render>div:after {
    margin-top:5px;
    margin-right:5px;
    scale:1.2;
}


.schedule-item[data-location-type="0"]:after, .list-render>div[data-location-type="0"]:after {
     background-image: url("icons/activities/home.png");
}

.schedule-item[data-location-type="1"]:after, .list-render>div[data-location-type="1"]:after {
     background-image: url("icons/activities/work.png");
}

.schedule-item[data-location-type="2"]:after, .list-render>div[data-location-type="2"]:after {
     background-image: url("icons/activities/map.png");
}



.schedule-item[data-location-type="0"][data-in-home-activity="0"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="0"]:after {
    background-image: url("icons/activities/sleeping.png");
    background-size: 200%;
}
.schedule-item[data-location-type="0"][data-in-home-activity="1"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="1"]:after {
    background-image: url(icons/activities/desk.png);
}
.schedule-item[data-location-type="0"][data-in-home-activity="2"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="2"]:after {
    background-image: url(icons/activities/desk.png);
}
.schedule-item[data-location-type="0"][data-in-home-activity="3"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="3"]:after  {
    background-image: url(icons/activities/desk.png);
}
.schedule-item[data-location-type="0"][data-in-home-activity="4"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="4"]:after  {
    background-image: url(icons/activities/desk.png);
}
.schedule-item[data-location-type="0"][data-in-home-activity="5"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="5"]:after  {
    background-image: url(icons/activities/desk.png);
}

.schedule-item[data-location-type="0"][data-in-home-activity="6"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="6"]:after  {
    background-image: url(icons/activities/cleaning.png);
}



.schedule-item[data-location-type="0"][data-in-home-activity="7"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="7"]:after  {
    background-image: url(icons/activities/desk.png);
}
.schedule-item[data-location-type="0"][data-in-home-activity="8"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="8"]:after  {
    background-image: url(icons/activities/desk.png);
}
.schedule-item[data-location-type="0"][data-in-home-activity="9"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="9"]:after  {
    background-image: url(icons/activities/desk.png);
}
.schedule-item[data-location-type="0"][data-in-home-activity="10"]:after , .list-render>div[data-location-type="0"][data-in-home-activity="10"]:after {
    background-image: url(icons/activities/desk.png);
}




.schedule-item[data-location-type="0"][data-in-home-activity="11"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="11"]:after{
    background-image: url(icons/activities/relax.png);
}

.schedule-item[data-location-type="0"][data-in-home-activity="12"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="12"]:after{
    background-image: url(icons/activities/exercise.png);
}


.schedule-item[data-location-type="0"][data-in-home-activity="13"]:after, .list-render>div[data-location-type="0"][data-in-home-activity="13"]:after{
    background-image: url(icons/activities/social.png);
}







.schedule-item[data-location-type="1"][data-work-activity="3"]:after, .list-render>div[data-location-type="1"][data-work-activity="3"]:after {
     background-image: url("icons/activities/books.png");
}
.schedule-item[data-location-type="1"][data-work-activity="4"]:after, .list-render>div[data-location-type="1"][data-work-activity="4"]:after {
     background-image: url("icons/activities/books.png");
}






.schedule-item:has(.transit) {
    margin-top: 60px;
}

.transit {
    position: absolute;
    top: -40px;
    height: 40px;
    width: calc( 100% - 40px );
    left: 20px;
    transition: left .3s;
}

:hover>.transit {
    top: -40.5px;
    left: 40px;
    transition: left .9s;
}




.transit:before {
    content:"";
    background-size: 120%;
    background-position: center;
    width: 70px;
    height: 25px;
    display:inline-block;
    position:absolute;
    bottom: 0;
    right: 35px;
    background-image: url("icons/transit/dots.png");
    opacity: 0.5;
}


.transit:after {
    content:"";

    background-size: 90%;
    background-position: center;
    width:50px;
    height:50px;
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    background-image: url("icons/transit/car.png");

}

[data-transit-mode="2"] .transit:after {
    background-image: url("icons/transit/bus.png");
}

[data-transit-mode="3"] .transit:after {
    background-image: url("icons/transit/walk.png");
    background-size: 70%;
}

[data-transit-mode="4"] .transit:after {
    background-image: url("icons/transit/bike.png");
}

[data-transit-mode="5"] .transit:after {
    background-image: url("icons/transit/taxi.png");
}

[data-transit-mode="8"] .transit:after {
    background-image: url("icons/transit/motorcycle.png");
}

[data-transit-mode="9"] .transit:after {
    background-image: url("icons/transit/scooter.png");
}
[data-transit-mode="10"] .transit:after {
    background-image: url("icons/transit/bike.png");
}

[data-transit-mode="11"] .transit:after {
    background-image: url("icons/transit/bus.png");
}
[data-transit-mode="12"] .transit:after {
    background-image: url("icons/transit/bus.png");
}
[data-transit-mode="13"] .transit:after {
    background-image: url("icons/transit/bus.png");
}



.travel-duration:after {
    content: attr(data-travel) "m";
    position: absolute;
    top: -40px;
    left: 0px;
    font-style: italic;
    color: #646464;
    font-size: 14px;
}

.activity:after {
    white-space: nowrap;
    content: attr(data-activity);
    margin-top: 40px;
    display: block;
    padding: 4px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
    margin-bottom: 10px;
    text-indent: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.activity[data-activity="select an option"]:after {
    font-style: italic;
    content: "pending";
    text-align: right;
    color: #464646;
}

.schedule-item>.drag-end {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 12px;
    background: #f3f3f3;
    left: calc( 50% - 30px );
    bottom: -8px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    box-shadow: 0 0 2px #0000006e;
    border: 1px solid white;
}

.schedule-item>.drag-end:hover {
    text-align: center;
    box-shadow: 0 0 3px #00000082;
    background: white;
}

.schedule-item>.drag-start {
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 60px;
    height: 20px;
    background: white;
    left: calc( 25% - 30px);
    top: -15px;
    border-radius: 5px;
    transition: opacity 0.3s;
}


.schedule-item>.drag-end:before {
    content: "\0f0c9";
    font-family: 'FontAwesome';
    font-size: 10px;
    line-height: 4px;
    position: relative;
    top: -7px;
    color: #8e8e8e;
}


.schedule-item:hover>.drag-end, .schedule-item:has(+:hover)>.drag-end {
    opacity:1;
}


.resizing.schedule-item>.drag-end {
    opacity:0;
}

.resizing.schedule-item +.schedule-item>.drag-end, .schedule-item:has(+.resizing.schedule-item)>.drag-end {
    opacity:0;
}



.schedule-item .duration {
    display: block;
    height: var(--durationHeight, 0px);
}


.schedule-item.resizing .duration:after {
    content: "";
    height: var(--resizeHeight, 0px);
    transition: height 0.2s;
}


.schedule-item.resizing .duration:before {
    content: "add " var(--addDuration) "m";
    position: absolute;
    top: calc( 100% + var(--resizeHeight) - 40px );
    color: #767676;
    font-style: italic;
    right: 30px;
    transition: top 0.2s;
    font-size: 12px;
}


.schedule-item.resizing.rs-neg .duration:after {
    height: calc( var(--durationHeight, 0px) + var(--resizeHeight, 0px) + 75px);
    background: linear-gradient(180deg, #ffffff26, #ffffff6b);
    top: 0;
    border-bottom: 1px solid white;
}

.schedule-item.resizing.rs-neg .duration:before {
    content: "" var(--addDuration) "m";
}

.schedule-item.resizing {
    margin-bottom: calc( var(--resizeHeight, 0px) + 10px );
    transition: margin-bottom 0.2s;
}

.duration:after {
   
    position: absolute;
    top: 100%;
    height: 0;
    display: inline-block;
    width: 100%;
    left: 0;
    background: linear-gradient(180deg, #ffffff26, white);
    border-radius: 0 0 10px 10px;
    z-index: -1;
    box-sizing: border-box;
}

.rs>.schedule-item:hover {
    /*cancel hover effect*/
    scale: 1;
    box-shadow: none;
}







fieldset.vehicle-template {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


fieldset.vehicle-template fieldset>label, fieldset.vehicle-template fieldset>.option {
    display: inline-block;
    white-space: nowrap;
    width: calc( 20% );
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

fieldset.vehicle-template fieldset>label>span {
    display:block;
}

fieldset.vehicle-template fieldset>label>input[type="text"], 
fieldset.vehicle-template fieldset>label>input[type="number"],
fieldset.vehicle-template fieldset>span>select {
    min-width: unset;
    display: inline-block;
    width: calc( 100% - 20px );
    margin: 0;

    border: 1px solid #666666;
    vertical-align: top;
}



fieldset.vehicle-template .option>label {
    display: block;
    margin: 0;
}

fieldset.vehicle-template .option>select {
    margin: 0;
}

span.option>select {
    min-width: 140px;
}

fieldset.vehicle-template {
    background-color: rgb(35 71 104 / 15%) !important;
}




.feedback {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: min-content;
    text-align: left;
    right: 0;
    background: #ffffff7d;
    backdrop-filter: blur(6px);
    border-top: 2px solid #0a479c;
    z-index: 1;
}


.feedback.hidden {
    width: fit-content;
    background: transparent;
    border: none;
}

.feedback>button {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

.feedback>button:before {
    content: "\0f00d";
    font-family: 'FontAwesome';
    font-size: 30px;
}



.feedback form.survey-view:after{
    display:none;
}
.feedback form.survey-view:before{
    display:none;
}

.feedback form.survey-view {
    margin:auto;
    float: right;
}

.feedback form.survey-view label>span {
    display: block;
}

.feedback form.survey-view label>textarea {
    width: 100%;
    height: 100px;
    max-width: 5000px;
}




.feedback.hidden .survey-view>main>div>* {
    display: none;
}

.feedback.hidden .survey-view>main>div>.markdown {
    display: block;
}
.feedback.hidden .survey-view>main>div>.markdown>* {
    display: none;
}
.feedback.hidden .survey-view>main>div>.markdown>h2 {
    display: block;
    color: #964545;
    font-weight: 100;
}



.feedback.hidden form.survey-view {
    padding: 0 60px;
}

.feedback.hidden>button {
    top: 15px;
    right: 15px;
}

.feedback.hidden>button:before {
    content: "\0f071";
    color: #964545;
}

form.survey-view .radio>label:has(input) {
    background: #00000007;
    padding: 5px 20px;
    border-radius: 3px;
}

form.survey-view .radio>label>input {
    vertical-align: text-bottom;
    margin-left: 20px;

}


form.survey-view .radio>label[for]:has(input[type="radio"]) {
    cursor: pointer;
}

form.survey-view .radio>label:has(input):hover {
    background: #0000000f;
}


form.survey-view .radio>label:has(input:checked) {
    background: #16459429;
}







ul.progress-indicator>li.with-navigation {
    cursor: pointer;
}

ul.progress-indicator>li.with-navigation:hover {
    transform:scale(1.03);
    box-shadow: 0 0 3px #00000075;
    opacity: 1;
    transition: transform 0.1s, box-shadow 0.1s, opacity 0.1s;
}

button.geolocate, button.maplocate {
    font-size: 0rem;
    background: none;
    border: none;
    float: right;
    position: relative;
    top: -30px;
    left: 30px;
    cursor: pointer;
}

button.geolocate:after, button.maplocate:after {
    font-size: 1.7rem;
    content: "\0f05b";
    font-family: 'FontAwesome';
}

button.maplocate:after {
    font-size: 1.5rem;
    content: "\0f041";
}

button.geolocate:hover, button.maplocate:hover {
    transform: scale(1.1);
    color: #174494;
    top: -31px;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

button.geolocate.loading {
    animation: spin 3s linear;
    animation-iteration-count: infinite;
    color: #174494;
    cursor: wait;
}





.google-map-overlay:before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(2px) grayscale(1);
}


.google-map-overlay {
    position: fixed;
    width: calc( 100vw - 100px );
    height: calc( 100vh - 115px );
    top: 50px;
    left: 50px;
    z-index: 1;
}

.google-map-overlay>div {
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: 0 0 3px #00000073;
}

body:has(.google-map-overlay) {
    overflow: hidden;
}

button.use-location-btn {
    display: none;
}

.google-map-overlay.has-location button.use-location-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}




button.close-btn, button.use-location-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px #00000042;
    margin: 10px;
    font-size: 20px;
    background: #174494;
    color: white;
    transition: box-shadow 0.7s, background 0.7s;
}

button.close-btn:hover, button.use-location-btn:hover {
    background: #132f60;
    color: white;
    box-shadow: 0 0 5px #00000087;
    transition: box-shadow 0.3s, background 0.3s;
}


button.close-btn {
    background: #4a4a4a;
}

button.close-btn:hover {
    background: #303030;
}

button.close-btn:after {
    content: "\0f00d";
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 2;
    font-family: 'FontAwesome';
    color: black;
}



form.survey-view .charging-priority fieldset {
    padding: 10px;
    border: unset;
    margin: unset;
}

form.survey-view .charging-priority  .radio>label:has(input) {
    padding: 5px 11px;
    margin-left: 5px;
}